# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
  - main 

pool:
  vmImage: 'ubuntu-latest'

variables:
  mvnOpts: '-B -Dmaven.test.failure.ignore=false'
  jdkVersion: '1.17'
  versionSpec: '17'
  artifactName: 'drop'

stages:
  - stage: Build
    displayName: 'Build'
    jobs:
    - job: BuildJob
      displayName: 'Build Job'
      steps:

        - task: JavaToolInstaller@0
          displayName: 'Usar JDK 17 preinstalado'
          inputs:
            versionSpec: '$(versionSpec)'
            jdkArchitectureOption: 'x64'
            jdkSourceOption: 'PreInstalled'

        - task: Bash@3
          displayName: 'Diagnóstico Java/Maven'
          inputs:
            targetType: 'inline'
            script: |
              echo "JAVA_HOME: $JAVA_HOME"
              java -version
              mvn -version
              
        - task: Maven@4
          displayName: 'Build y pruebas'
          inputs:
            mavenPomFile: 'pom.xml'
            goals: 'clean package'
            options: '$(mvnOpts)'
            publishJUnitResults: true
            testResultsFiles: '**/surefire-reports/TEST-*.xml'
            javaHomeOption: 'JDKVersion'
            jdkVersionOption: '$(jdkVersion)'
            mavenVersionOption: 'Default'
        
        - task: PublishBuildArtifacts@1
          displayName: 'Publicar Artefacto'
          inputs:
            pathToPublish: '$(System.DefaultWorkingDirectory)/target'
            artifactName: '$(artifactName)'
            publishLocation: 'Container'

  - stage: Test
    displayName: 'Test'
    dependsOn: Build
    condition: succeeded()
    isSkippable: false
    jobs:
    - job: TestJob
      displayName: 'Test Job'
      steps:
        
        - task: JavaToolInstaller@0
          displayName: 'Usar JDK 17 preinstalado (Test)'
          inputs:
            versionSpec: '$(versionSpec)'
            jdkArchitectureOption: x64
            jdkSourceOption: PreInstalled
        
        # Descarga del artefacto
        - task: DownloadBuildArtifacts@0
          displayName: 'Descarga Artifact $(artifactName)'
          inputs:
            buildType: current
            downloadType: single
            artifactName: '$(artifactName)'
            downloadPath: '$(System.DefaultWorkingDirectory)/_artifacts'
        
        # Ejecucion de pruebas y cobertura
        - task: Maven@4
          displayName: 'Pruebas + cobertura (verify)'
          inputs:
            mavenPomFile: 'pom.xml'
            goals: 'clean verify'
            options: '$(mvnOpts)'
            publishJUnitResults: true
            testResultsFiles: '**/surefire-reports/TEST-*.xml'
            javaHomeOption: JDKVersion
            jdkVersionOption: '$(jdkVersion)'
            mavenVersionOption: Default
        
        # Publica reports de cobertura (HTML) generados por jacoco-maven-plugin
        - task: PublishBuildArtifacts@1
          displayName: 'Publicar reporte de cobertura JaCoCo'
          inputs:
            pathToPublish: '$(System.DefaultWorkingDirectory)/target/site/jacoco'
            artifactName: 'coverage'
            publishLocation: 'Container'


#  - stage: DeployToStaging
#    displayName: 'Deploy to Staging'
#    dependsOn: Test
#    jobs:
#      - job: DeployStagingJob
#        displayName: 'Desploy to Staging Job'
#        pool: 
#          vmImage: 'ubuntu-latest'
#        steps:
#          - script: |
#              echo "Buils staging job..."
#            displayName: 'Build and deploy to staging'

#      - job: DeployStagingJobWithValidation
#        pool: server
#        timeoutInMinutes: 4320 
#        displayName: 'Deploy to Staging Job'
#        steps:
#          - task: ManualValidation@1
#            timeoutInMinutes: 1440
#            inputs:
#              notifyUsers: luisloa.7913@gmail.com
#              instructions: 'Por favor valida la etapa de configuración y resumen'
#              onTimeout: 'resume'





