# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
  - main 

pool:
  vmImage: 'ubuntu-latest'

variables:
  mvnOpts: '-B -Dmaven.test.failure.ignore=false'
  jdkVersion: '1.17'

stages:
  - stage: Build
    displayName: 'Build'
    jobs:
    - job: BuildJob
      displayName: 'Build Job'
      steps:

        - task: JavaToolInstaller@0
          displayName: 'Usar JDK 17 preinstalado'
          inputs:
            versionSpec: '17'
            jdkArchitectureOption: 'x64'
            jdkSourceOption: 'PreInstalled'

        - task: Bash@3
          displayName: 'Diagnóstico Java/Maven'
          inputs:
            targetType: 'inline'
            script: |
              echo "JAVA_HOME: $JAVA_HOME"
              java -version
              mvn -version
              
        - task: Maven@4
          displayName: 'Build y pruebas'
          inputs:
            mavenPomFile: 'pom.xml'
            goals: 'clean package'
            options: '$(mvnOpts)'
            publishJUnitResults: true
            testResultsFiles: '**/surefire-reports/TEST-*.xml'
            javaHomeOption: 'JDKVersion'
            jdkVersionOption: '$(jdkVersion)'
            mavenVersionOption: 'Default'
        
        - task: PublishBuildArtifacts@1
          displayName: 'Publicar Artefacto'
          inputs:
            pathToPublish: '$(System.DefaultWorkingDirectory)/target'
            artifactName: 'drop'
            publishLocation: 'Container'

#  - stage: Test
#    displayName: 'Test Stage'
#    dependsOn: Build
#    isSkippable: false
#    jobs:
#    - job: TestJob
#      displayName: 'Test Job'
#      steps:
#        - script: |
#            echo "Running unit test..."
#          displayName: 'Run unit tests'

#  - stage: DeployToStaging
#    displayName: 'Deploy to Staging'
#    dependsOn: Test
#    jobs:
#      - job: DeployStagingJob
#        displayName: 'Desploy to Staging Job'
#        pool: 
#          vmImage: 'ubuntu-latest'
#        steps:
#          - script: |
#              echo "Buils staging job..."
#            displayName: 'Build and deploy to staging'

#      - job: DeployStagingJobWithValidation
#        pool: server
#        timeoutInMinutes: 4320 
#        displayName: 'Deploy to Staging Job'
#        steps:
#          - task: ManualValidation@1
#            timeoutInMinutes: 1440
#            inputs:
#              notifyUsers: luisloa.7913@gmail.com
#              instructions: 'Por favor valida la etapa de configuración y resumen'
#              onTimeout: 'resume'





